@import "/logout/logout.css";

.sidebar {
  color: var(--color-light-grey);
  padding: 1.6rem;
}

.documentation {
  grid-template-columns: 25rem auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

input[type="radio"],
input[type="checkbox"] {
  border: 0;
  margin: 8px 8px;
}

input[type="range"] {
  width: 16rem;
  margin: 8px 8px;
}

.categories > .category-list,
.ratings > .list-style-none {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px 0;
}

.product-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.1rem;
  margin: 2rem 0;
}

.card-badge-new {
  width: max-content;
}

.btn-outline {
  color: var(--color-dark-blue);
  background: none;
  border: 1px solid var(--color-dark-blue);
}

.btn-outline:hover {
  background: var(--color-light-grey);
}

.search-box {
  height: 3.25rem;
  width: 24rem;
  border: 1px solid var(--primary-color);
}

.sign-up-link {
  color: var(--primary-color);
}
