:root {
  --color-light-grey: #e2e8f0;
  --primary-color-dark: #a32631;
  --primary-color-light: #d65964;
}

.btn-secondary {
  color: var(--color-light-grey);
  background: var(--primary-color-light);
}

.btn-secondary:hover {
  background: var(--primary-color);
}

.list-inline {
  align-items: center;
}

.logout-container {
  height: 80vh;
  width: 100vw;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-light-grey);
}
